.conatiner {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin: auto;
  align-items: center;
}

body {
  height: 100vh;
  background: url("https://img.freepik.com/free-vector/background-realistic-abstract-technology-particle_23-2148431735.jpg");
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
}
.card {
  width: 32%;
  border: 5px solid black;
  height: 350px;
  padding: 15px;
  overflow-y: scroll;
}
.employee-details {
  background: gray;
  display: flex;
  justify-content: space-between;
  padding: 0px 15px;
  align-items: center;
  margin-bottom: 10px;
}
.add {
  width: 68px;
  height: 30px;
  background: #4a4ad3;
  color: white;
  border: none;
  border-radius: 5;
  border-radius: 3px;
}

.sort {
  position: relative;
  left: 60%;
  margin-bottom: 10px;
}
